@media screen and (min-width: 1601px) and (max-width: 1919px) {
  /* 헤더 */
  .search_bar {
    margin-left: 8vw;
  }
  /* 첫번째 */
  .con1_wrapper {
    padding: 150px 0;
    padding-left: 150px;
  }
  .con1_1 {
    width: 62vw;
  }
  .red_meat {
    width: 490px;
    height: 490px;
  }
  .con1_txt {
    left: 630px;
  }
  .con1_txt_under {
    margin-top: 250px;
  }
  .con1_2,
  .con1_3 {
    width: 62vw;
  }
  .brown_meat,
  .pen {
    width: 440px;
    height: 440px;
  }
  .con1_txt_under_2 {
    left: 600px;
  }
  /* 2 */
  .con2_wrapper {
    width: 90vw;
  }
  .con2_sec_txt_left > h2 {
    font-size: 22px;
  }
  .con2_sec_txt_left > h3 {
    font-size: 14px;
  }
  .con2_sec_txt_left > h4,
  .con2_sec_txt_left > h5 {
    font-size: 11px;
  }
  .con2_sec_txt_left > h5 {
    margin-top: 60px;
  }
  .con_img {
    width: 19vw;
    height: fit-content;
  }
  .con_img img {
    max-width: 100%;
  }
  /* 3 */
  .con3 {
    padding: 150px 100px;
  }
  .con3_wrapper {
    gap: 20px;
  }
  .con3_img {
    width: 22vw;
    height: fit-content;
  }
  .con3_img img {
    max-width: 100%;
  }
  .con3_sec_1,
  .con3_sec_2,
  .con3_sec_3 {
    width: 22vw;
  }
  .con3_sec_txt {
    margin-top: 0;
    width: 21vw;
  }
}

/* 노트북 */
@media screen and (min-width: 1440px) and (max-width: 1600px) {
  /* 헤더 */
  .header {
    width: 80vw;
  }
  .header_con {
    width: 90vw;
  }
  .search_bar {
    margin-left: 10vw;
  }
  /* 메인비주얼 */
  .main_v {
    height: 700px;
    padding-left: 150px;
    padding-top: 150px;
  }
  /* 첫번째 */
  .con1_wrapper {
    padding: 150px 0;
    padding-left: 100px;
  }
  .con1_1 {
    width: 66vw;
  }
  .red_meat {
    width: 450px;
    height: 450px;
  }
  .con1_txt {
    left: 590px;
  }
  .con1_txt_under {
    margin-top: 220px;
  }
  .con1_2,
  .con1_3 {
    width: 66vw;
  }
  .brown_meat,
  .pen {
    width: 400px;
    height: 400px;
  }
  .con1_txt_under_2 {
    left: 540px;
  }

  /* 두번째 */
  .con2_wrapper {
    width: 90vw;
  }

  .con_img {
    width: 20vw;
    height: fit-content;
  }
  .con_img img {
    max-width: 100%;
  }
  .con2_sec_txt {
    width: 21vw;
  }
  .con2_sec_txt_left > h2 {
    font-size: 22px;
  }
  .con2_sec_txt_left > h3 {
    font-size: 14px;
  }
  .con2_sec_txt_left > h4,
  .con2_sec_txt_left > h5 {
    font-size: 11px;
  }
  .con2_sec_txt_left > h5 {
    margin-top: 60px;
  }
  /* 세번째 */
  .con3 {
    padding: 150px 100px;
  }
  .con3_wrapper {
    gap: 20px;
  }
  .con3_img {
    width: 22vw;
    height: fit-content;
  }
  .con3_img img {
    max-width: 100%;
  }
  .con3_sec_1,
  .con3_sec_2,
  .con3_sec_3 {
    width: 22vw;
  }
  .con3_sec_txt {
    margin-top: 0;
    width: 22vw;
  }
  /* 네번째 */
  .con4_sec > h2 {
    font-size: 16px;
  }
  .con4_sec h3 {
    font-size: 20px;
  }
  .con4_sec h4 {
    font-size: 14px;
  }
}

/* 노트북 medium */
@media screen and (min-width: 1025px) and (max-width: 1439px) {
  /* 헤더 */
  .header {
    width: 80vw;
  }
  .header_con {
    width: 90vw;
  }
  .search_bar {
    margin-left: 3vw;
  }
  #menu ul {
    width: 350px;
  }
  #menu li a {
    font-size: 13px;
  }
  .search_bar > .search {
    width: 120px;
  }
  .search_bar input {
    width: 80%;
  }
  .login {
    font-size: 13px;
    width: 100px;
  }
  /* 메인비주얼 */
  .main_v {
    height: 590px;
    background-size: 150%;
    padding-top: 120px;
    padding-left: 120px;
  }
  .mv_txt > h2 {
    font-size: 48px;
    line-height: 65px;
  }
  .mv_txt > p {
    font-size: 20px;
    line-height: 34px;
  }
  .introduce_btn {
    width: 144px;
    height: 52px;
    margin-top: 55px;
  }
  .introduce_btn p {
    font-size: 13px;
    line-height: 52px;
  }
  .circle {
    width: 42px;
    height: 42px;
    background-size: 30%;
    background-position: 16px 10px;
  }
  /* 첫번째 */
  .con1_wrapper {
    padding: 150px 0;
  }
  .con1_1 {
    width: 87vw;
  }
  .red_meat {
    width: 400px;
    height: 400px;
  }
  .con1_txt {
    left: 530px;
  }
  .con1_txt_under {
    margin-top: 160px;
  }
  .con1_2,
  .con1_3 {
    width: 85vw;
  }
  .brown_meat,
  .pen {
    width: 350px;
    height: 350px;
  }
  .con1_txt_under_2 {
    left: 490px;
  }
  /* 두번째 */
  .con2_wrapper {
    width: 87vw;
  }

  .con_img {
    width: 25vw;
    height: fit-content;
  }
  .con_img img {
    max-width: 100%;
  }
  .con2_sec_txt {
    width: 25vw;
    display: block;
    position: relative;
  }

  .con2_sec_txt_right {
    width: 25vw;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: -10px;
  }
  .more_btn {
    margin: 0;
  }
  .con2_sec_txt_right > .number {
    width: 100px;
    margin: 0;
    margin-top: 10px;
  }
  .con2_sec_txt_left > h2 {
    font-size: 26px;
  }
  .con2_sec_txt_left > h3 {
    font-size: 16px;
  }
  .con2_sec_txt_left > h4,
  .con2_sec_txt_left > h5 {
    font-size: 12px;
  }
  .con2_sec_txt_left > h5 {
    margin-top: 30px;
  }
  /* 라인 배너 */
  .line {
    box-sizing: border-box;
    padding: 0 50px;
  }
  .line > h2 {
    font-size: 20px;
  }
  .line span {
    font-size: 26px;
  }
  .line_btn > button {
    width: 150px;
    height: 45px;
    font-size: 14px;
  }
  /* 세번째 섹션 */
  .con3 {
    padding: 150px 80px;
  }
  .con3_wrapper {
    display: block;
    width: 70vw;
  }
  .con3_sec_1,
  .con3_sec_2,
  .con3_sec_3 {
    width: fit-content;
    height: fit-content;
    display: flex;
    gap: 50px;
    margin-bottom: 30px;
    box-sizing: border-box;
    padding-right: 5vw;
    transition: 0.3s;
  }
  .con3_sec_1:hover,
  .con3_sec_2:hover,
  .con3_sec_3:hover {
    background-color: #f1f1f1;
  }
  .con3_img {
    width: 25vw;
    height: fit-content;
  }
  .con3_img img {
    max-width: 100%;
  }
  .con3_sec_txt {
    margin-top: 6vw;
    width: 40vw;
  }
  .con3_sec_txt_right > .number {
    width: 110px;
  }
  .con3_sec_txt .more_btn {
    margin-left: 38px;
  }

  /* 네번째 섹션 */
  .con4 {
    height: 90vh;
    background-size: 120%;
    padding: 0 100px;
    display: flex;
    align-items: center;
  }
  .con4_box {
    margin-bottom: 70px;
  }
  .con4_sec {
    height: 450px;
    padding: 30px 20px;
    position: relative;
  }
  .con4_sec > h2 {
    font-size: 12px;
  }
  .con4_sec h3 {
    font-size: 1.5vw;
    line-height: 28px;
  }
  .con4_sec h4 {
    font-size: 12px;
  }
  .write_btn {
    width: 150px;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 20%;
    margin: 0 auto;
    padding: 0 45px;
    margin-bottom: 30px;
    border-radius: 12px;
  }
  .write_btn a {
    font-size: 12px;
    line-height: 38px;
  }
  /* 마지막 */

  .con5_txt h3 {
    font-size: 32px;
  }
  .con5_txt a {
    left: 75vw;
  }
  .con5_sec {
    width: 83vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* 태블릿 */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* 헤더 */
  main {
    padding-top: 60px;
  }
  header {
    height: 60px;
  }
  h1 a {
    margin-top: 18px;
  }
  #menu ul {
    display: none;
  }
  .search_bar {
    margin-left: 10vw;
  }
  .search_bar > .search {
    margin-top: 18px;
  }
  .search_icon {
    margin-top: 12px;
  }
  .login {
    width: 12vw;
    margin-left: 0;
    line-height: 60px;
    font-size: 13px;
  }
  #menu_m {
    display: block;
  }
  #menu_m ul {
    line-height: 80px;
  }
  .submenu {
    left: -150px;
  }
  /* 메인비주얼 */
  .main_v {
    height: 440px;
    background-size: 150%;
    padding-top: 80px;
    padding-left: 100px;
  }
  .mv_txt > h2 {
    font-size: 42px;
    line-height: 60px;
  }
  .mv_txt > p {
    font-size: 18px;
    line-height: 28px;
  }

  .introduce_btn {
    width: 144px;
    height: 52px;
    margin-top: 40px;
  }
  .introduce_btn p {
    font-size: 13px;
    line-height: 52px;
  }
  .circle {
    width: 42px;
    height: 42px;
    background-size: 30%;
    background-position: 16px 10px;
  }
  /* 첫번째 */
  .con1 {
    margin-bottom: 0;
  }
  .con1_wrapper {
    padding: 100px 0;
  }
  .con1_1 {
    width: 100vw;
    padding-left: 50px;
  }
  .red_meat {
    width: 360px;
    height: 360px;
  }
  .con1_txt {
    left: 440px;
  }
  .con1_txt > h2 {
    font-size: 30px;
    line-height: 42px;
  }
  .con1_txt h3 {
    font-size: 16px;
  }
  .con1_txt h4 {
    font-size: 20px;
  }
  .con1_txt p {
    font-size: 13px;
  }
  .con1_txt_under {
    margin-top: 110px;
  }
  .con1_2,
  .con1_3 {
    width: 100vw;
    padding-left: 50px;
  }
  .brown_meat,
  .pen {
    width: 320px;
    height: 320px;
  }
  .con1_txt_under_2 {
    left: 400px;
  }
  .con1_txt_under_2 h3 {
    font-size: 16px;
  }
  .con1_txt_under_2 h4 {
    font-size: 20px;
  }
  .con1_txt_under_2 p {
    font-size: 13px;
  }
  .arrow {
    left: 80vw;
    top: 520px;
  }
  /* 두번째 */
  .con2_wrapper {
    width: 80vw;
  }

  .con_img {
    width: 38vw;
    height: fit-content;
  }

  .con_img img {
    max-width: 100%;
  }
  .con2_sec_txt {
    width: 38vw;
    display: block;
    position: relative;
  }

  .con2_sec_txt_right {
    width: 37vw;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: -10px;
  }
  .more_btn {
    margin: 0;
  }
  .con2_sec_txt_right > .number {
    width: 100px;
    margin: 0;
    margin-top: 10px;
  }
  .con2_sec_txt_left > h2 {
    font-size: 26px;
  }
  .con2_sec_txt_left > h3 {
    font-size: 16px;
  }
  .con2_sec_txt_left > h4,
  .con2_sec_txt_left > h5 {
    font-size: 12px;
  }
  .con2_sec_txt_left > h5 {
    margin-top: 30px;
  }
  /* 라인배너 */
  .line {
    height: 120px;
    background-size: 180%;
  }
  .line > h2 {
    font-size: 16px;
    line-height: 120px;
  }
  .line span {
    font-size: 24px;
  }
  .line_btn {
    margin: 0;
    margin-top: 40px;
  }
  .line_btn > button {
    width: 15vw;
    height: 5vh;
    font-size: 1.5vw;
  }
  /* 세번째 */
  .con3 {
    padding: 150px 50px;
  }
  .con3_wrapper {
    display: block;
    width: 70vw;
  }
  .con3_sec_1,
  .con3_sec_2,
  .con3_sec_3 {
    width: fit-content;
    height: fit-content;
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
    box-sizing: border-box;
    padding-right: 5vw;
    transition: 0.3s;
  }
  .con3_sec_1:hover,
  .con3_sec_2:hover,
  .con3_sec_3:hover {
    background-color: #f1f1f1;
  }
  .con3_img {
    width: 38vw;
    height: fit-content;
  }

  .con3_img img {
    max-width: 100%;
  }
  .con3_sec_txt {
    margin-top: 10vw;
    width: 45vw;
  }
  .con3_sec_txt_right > .number {
    width: 110px;
  }
  .con3_sec_txt .more_btn {
    margin-left: 38px;
  }
  .con3 a {
    top: 100px;
  }

  /* 네번째 */
  .con4 {
    height: fit-content;
    background-image: none;
    box-sizing: border-box;
    padding: 0 80px;
    display: block;
  }
  .con4_box {
    margin: 50px auto;
    gap: 50px;
  }
  .con4_txt {
    display: block;
  }
  .con4_txt h3 {
    font-size: 32px;
  }
  .con4_sec {
    width: 300px;
    height: 450px;
    padding: 30px 27px;
    position: relative;
    border: 2px solid #e6e6e6;
  }
  .con4_sec:hover {
    background-color: #fafafa;
    border: 2px solid #ea6a63;
  }
  .con4_sec > h2 {
    font-size: 16px;
  }
  .con4_sec h3 {
    font-size: 22px;
    line-height: 34px;
  }
  .con4_sec h4 {
    font-size: 12px;
  }
  .write_btn {
    width: 150px;
    height: 40px;

    margin: 0 auto;
    padding: 0 45px;
    margin-top: 150px;
    border-radius: 12px;
  }
  .write_btn a {
    font-size: 12px;
    line-height: 38px;
  }
  /* 마지막 */
  .con5 {
    padding: 100px 0;
  }
  .con5_txt h3 {
    font-size: 32px;
  }
  .con5_txt a {
    left: 72vw;
  }
  .con5_sec {
    width: 83vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
/* 모바일 large */
@media screen and (min-width: 481px) and (max-width: 768px) {
  /* 헤더 */
  main {
    padding-top: 60px;
  }
  header {
    height: 60px;
  }
  h1 {
    margin: 0 auto;
  }
  h1 a {
    margin-top: 18px;
  }
  #menu ul {
    display: none;
  }
  .search_bar {
    display: none;
  }
  .search_bar > .search {
    margin-top: 18px;
  }
  .search_icon {
    margin-top: 12px;
  }
  .login {
    display: none;
  }
  .login_icon {
    display: block;
    left: 81vw;
    top: 20px;
  }
  #menu_m {
    display: block;
  }
  #menu_m ul {
    line-height: 80px;
  }
  .submenu {
    left: -150px;
  }
  /* 메인 비주얼 */
  .main_v {
    height: 370px;
    background-size: 200%;
    padding: 80px 0;
  }
  .mv_txt {
    margin: 0 auto;
  }
  .mv_txt > h2 {
    font-size: 32px;
    line-height: 43px;
    text-align: center;
  }
  .mv_txt > p {
    font-size: 15px;
    text-align: center;
    line-height: 28px;
  }
  .introduce_btn {
    width: 144px;
    height: 52px;
    margin: 0 auto;
    margin-top: 40px;
  }
  .introduce_btn p {
    font-size: 13px;
    line-height: 52px;
  }
  .circle {
    width: 42px;
    height: 42px;
    background-size: 30%;
    background-position: 16px 10px;
  }
  .p_5000con {
    width: 410px;
    font-size: 10px;
  }
  .p_5000con > p:first-child:after {
    left: 326px;
  }
  /* 첫번째 */
  .con1 {
    margin-bottom: 0;
  }

  .con1_wrapper {
    padding: 0;
    padding-top: 100px;
    padding-left: 100px;
  }
  .con1_1 {
    width: 100vw;
    padding: 0;
  }
  .red_meat {
    width: 300px;
    height: 300px;
  }
  .con1_txt {
    top: 310px;
    left: 0;
  }
  .con1_txt > h2 {
    font-size: 28px;
    line-height: 38px;
  }
  .con1_txt h3 {
    font-size: 16px;
  }
  .con1_txt h4 {
    font-size: 20px;
  }
  .con1_txt p {
    font-size: 13px;
  }
  .con1_txt_under {
    margin-top: 40px;
  }
  .con1_2,
  .con1_3 {
    width: 100vw;
    padding: 0;
  }
  .brown_meat,
  .pen {
    width: 300px;
    height: 300px;
    margin: 0;
  }
  .con1_txt_under_2 {
    top: 320px;
    left: 0;
  }
  .con1_txt_under_2 h3 {
    font-size: 16px;
  }
  .con1_txt_under_2 h4 {
    font-size: 20px;
  }
  .con1_txt_under_2 p {
    font-size: 13px;
  }
  .arrow {
    display: none;
    left: 80vw;
    top: 520px;
  }
  /* 두번째 */
  .con2 {
    padding-bottom: 100px;
  }
  .con2_wrapper {
    width: 90vw;
  }
  .con2_sec {
    justify-content: center;
    flex-wrap: wrap;
    width: 90vw;
  }
  .con2_txt {
    display: block;
  }
  .con2_txt h3 {
    font-size: 28px;
  }
  .con2_txt ul {
    font-size: 13px;
    margin-top: 50px;
    width: 250px;
  }
  .con2_sec {
    gap: 20px;
    margin-top: 100px;
  }
  .con2_sec_1,
  .con2_sec_2,
  .con2_sec_3,
  .con2_sec_4 {
    width: 90vw;
    height: 200px;
    display: flex;
    gap: 20px;
    position: relative;
  }
  .con2_sec_1:hover,
  .con2_sec_2:hover,
  .con2_sec_3:hover,
  .con2_sec_4:hover {
    background-color: #f1f1f1;
  }
  .con2_sec_5,
  .con2_sec_6,
  .con2_sec_7,
  .con2_sec_8 {
    display: none;
  }
  .con_img,
  .con_img2 {
    width: 50%;
    height: 100%;
  }
  .con_img > img {
    max-height: 100%;
  }

  .con2_sec_txt {
    width: 50vw;
    margin-top: 20px;
    display: block;
  }
  .con2_sec_txt_left > h2 {
    font-size: 24px;
  }
  .con2_sec_txt_left > h2,
  .con2_sec_txt_left > h3 {
    margin-top: 14px;
  }
  .con2_sec_txt_left > h3 {
    font-size: 14px;
  }
  .more_btn {
    display: none;
  }
  .next {
    display: none;
  }
  .con2_sec_txt_right {
    margin: 0;
    width: fit-content;
    height: fit-content;
  }
  .con2_sec_txt_right > .number {
    position: absolute;
    top: 48px;
    left: 61vw;
    width: 100px;
  }

  .slide_bar {
    display: none;
  }
  /* 라인배너 */
  .line {
    height: 160px;
    background-image: url(/img/main/line_banner_2.png);
    background-size: 100%;
    background-position: 0 -100px;

    display: block;
    box-sizing: border-box;
    padding: 20px 0;
  }
  .line > h2 {
    font-size: 16px;
    line-height: 32px;
    color: #fff;
    text-align: center;
    margin-top: 5px;
  }
  .line span {
    font-size: 24px;
  }
  .line_btn {
    width: fit-content;
    margin: 0 auto;
  }
  .line_btn > button {
    width: 25vw;
    height: 50px;
    font-size: 2.4vw;
    margin-top: 20px;
  }
  /* 세번째 */
  .con3 {
    padding: 0;
    width: 90vw;
    margin: 0 auto;
  }
  .con3_wrapper {
    display: block;

    margin: 100px 0;
  }
  .con3_sec_1,
  .con3_sec_2,
  .con3_sec_3 {
    width: 90vw;
    height: 200px;
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    position: relative;
  }
  .con3_sec_1:hover,
  .con3_sec_2:hover,
  .con3_sec_3:hover {
    background-color: #f1f1f1;
  }
  .con3_img {
    width: 50%;
    height: 100%;
  }
  .con3_img > img {
    max-height: 100%;
  }
  .con3_sec_txt {
    width: 50vw;
    margin-top: 14px;
    display: block;
  }
  .con_img {
    width: 50%;
    height: 100%;
  }
  .con3_sec_txt_right {
    margin: 0;
    width: fit-content;
    height: fit-content;
  }
  .con3_sec_txt_left > h2 {
    font-size: 24px;
  }
  .con3_sec_txt_left > h3 {
    margin-top: 14px;
    font-size: 14px;
  }
  .con3_sec_txt_right > .number {
    position: absolute;
    top: 48px;
    left: 61vw;
    width: 100px;
  }
  .con3 a {
    display: none;
  }
  /* 네번째 */
  .con4 {
    width: 90vw;
    height: fit-content;
    background-image: none;
    padding: 0;
    display: block;
    margin: 0 auto;
  }
  .con4_box {
    margin: 0 auto;
    display: block;
    margin-top: 40px;
  }
  .con4_txt {
    display: block;
    margin-left: 15px;
  }
  .con4_txt h3 {
    font-size: 28px;
  }
  .con4_sec {
    width: 90vw;
    height: 250px;
    padding: 30px 27px;
    position: relative;
    border: 2px solid #e6e6e6;
    margin-bottom: 30px;
  }
  .con4_sec:hover {
    background-color: #fafafa;
    border: 2px solid #ea6a63;
  }
  .con4_sec > h2 {
    font-size: 16px;
  }
  .con4_sec h3 {
    font-size: 22px;
    line-height: 34px;
    margin-top: 15px;
  }

  .con4_sec h4 {
    font-size: 12px;
    margin-top: 50px;
  }
  .write_btn {
    display: none;
  }
  .write_btn a {
    font-size: 12px;
    line-height: 38px;
  }
  /* 마지막 */
  .con5 {
    padding: 100px 40px;
  }
  .con5_wrapper {
    width: 100vw;
    overflow: hidden;
  }
  .con5_sec1 {
    border: none;
    margin-right: 10px;
  }
  .con5_sec1:hover {
    background-color: #f1f1f1;
    border: none;
  }
  .con5_txt h3 {
    font-size: 28px;
  }
  .con5_txt a {
    display: none;
  }
  .con5_sec {
    width: fit-content;
    flex-wrap: nowrap;
  }
  .arrow2 {
    width: 90px;
  }
  #arrow_left2 {
    width: 40px;
    height: 40px;
    background-size: 100%;
  }
  #arrow_right2 {
    width: 40px;
    height: 40px;
    background-size: 100%;
  }
}

/* 모바일 */
@media screen and (max-width: 480px) {
  /* 헤더 */
  main {
    padding-top: 60px;
  }
  header {
    height: 60px;
  }
  h1 {
    margin: 0 auto;
  }
  h1 a {
    margin-top: 18px;
  }
  #menu ul {
    display: none;
  }
  .search_bar {
    display: none;
  }
  .search_bar > .search {
    margin-top: 18px;
  }
  .search_icon {
    margin-top: 12px;
  }
  .login {
    display: none;
  }
  .login_icon {
    display: block;
    left: 77vw;
    top: 20px;
  }
  #menu_m {
    display: block;
  }
  #menu_m ul {
    line-height: 80px;
  }
  .submenu {
    left: -150px;
  }
  /* 메인 비주얼 */
  .main_v {
    height: 300px;
    background-size: 220%;
    padding: 60px 20px;
  }
  .mv_txt {
    margin: 0 auto;
  }
  .mv_txt > h2 {
    font-size: 28px;
    line-height: 38px;
  }
  .mv_txt > p {
    font-size: 12px;

    line-height: 24px;
  }
  .introduce_btn {
    width: 120px;
    height: 45px;

    margin-top: 20px;
  }
  .introduce_btn p {
    font-size: 12px;
    line-height: 45px;
    margin-left: 15px;
  }
  .circle {
    width: 35px;
    height: 35px;
    background-size: 30%;
    background-position: 14px 9px;
    margin-right: 3px;
  }
  .p_5000 {
    display: none;
  }

  /* 첫번째 */
  .con1 {
    margin-bottom: 0;
  }

  .con1_wrapper {
    padding: 0;
    padding-top: 100px;
    padding-left: 40px;
  }
  .con1_1 {
    width: 100vw;
    padding: 0;
  }
  .red_meat {
    width: 300px;
    height: 300px;
  }
  .con1_txt {
    top: 310px;
    left: 0;
  }
  .con1_txt > h2 {
    font-size: 28px;
    line-height: 38px;
  }
  .con1_txt h3 {
    font-size: 16px;
  }
  .con1_txt h4 {
    font-size: 20px;
  }
  .con1_txt p {
    font-size: 13px;
  }
  .con1_txt_under {
    margin-top: 40px;
  }
  .con1_2,
  .con1_3 {
    width: 100vw;
    padding: 0;
  }
  .brown_meat,
  .pen {
    width: 300px;
    height: 300px;
    margin: 0;
  }
  .con1_txt_under_2 {
    top: 320px;
    left: 0;
  }
  .con1_txt_under_2 h3 {
    font-size: 16px;
  }
  .con1_txt_under_2 h4 {
    font-size: 20px;
  }
  .con1_txt_under_2 p {
    font-size: 13px;
  }
  .arrow {
    display: none;
    left: 80vw;
    top: 520px;
  }
  /* 두번째 */
  .con2 {
    padding-bottom: 100px;
  }
  .con2_wrapper {
    width: 90vw;
  }
  .con2_sec {
    justify-content: center;
    flex-wrap: wrap;
    width: 90vw;
  }
  .con2_txt {
    display: block;
  }
  .con2_txt h3 {
    font-size: 24px;
  }
  .con2_txt ul {
    font-size: 13px;
    margin-top: 30px;
    width: 250px;
  }
  .con2_sec {
    gap: 20px;
    margin-top: 60px;
  }
  .con2_sec_1,
  .con2_sec_2,
  .con2_sec_3,
  .con2_sec_4 {
    width: 90vw;
    height: 200px;
    display: flex;
    gap: 20px;
  }
  .con2_sec_1:hover,
  .con2_sec_2:hover,
  .con2_sec_3:hover,
  .con2_sec_4:hover {
    background-color: #f1f1f1;
  }
  .con2_sec_5,
  .con2_sec_6,
  .con2_sec_7,
  .con2_sec_8 {
    display: none;
  }
  .con_img,
  .con_img2 {
    width: 50%;
    height: 100%;
  }
  .con_img > img {
    max-height: 100%;
  }

  .con2_sec_txt {
    width: 40vw;
    margin-top: 20px;
    display: block;
  }
  .con2_sec_txt_left > h2 {
    font-size: 20px;
  }
  .con2_sec_txt_left > h2 .con2_sec_txt_left > h3 {
    margin-top: 15px;
  }
  .con2_sec_txt_left > h3 {
    margin-top: 20px;
    font-size: 13px;
  }
  .con2_sec_txt_left > h4 {
    display: none;
  }
  .more_btn {
    display: none;
  }
  .next {
    display: none;
  }
  .con2_sec_txt_right {
    margin: 0;
    width: fit-content;
    height: fit-content;
  }
  .con2_sec_txt_right > .number {
    margin-top: 10px;
    margin-left: 0;
    width: 100px;
  }

  .slide_bar {
    display: none;
  }
  /* 라인배너 */
  .line {
    height: 160px;
    background-image: url(/img/main/line_banner_2.png);
    background-size: 100%;
    background-position: 0 -100px;

    display: block;
    box-sizing: border-box;
    padding: 15px 0;
  }
  .line > h2 {
    font-size: 14px;
    line-height: 32px;
    color: #fff;
    text-align: center;
    margin-top: 5px;
  }
  .line span {
    font-size: 22px;
  }
  .line_btn {
    width: fit-content;
    margin: 0 auto;
  }
  .line_btn > button {
    width: 25vw;
    height: 40px;
    font-size: 2.4vw;
    margin-top: 20px;
  }
  /* 세번째 */
  .con3 {
    padding: 0;
    width: 90vw;
    margin: 0 auto;
  }
  .con3_wrapper {
    display: block;
    width: 90vw;

    margin: 100px 0;
  }

  .con3_txt {
    display: block;
  }
  .con3_txt h3 {
    font-size: 28px;
  }
  .con3_txt ul {
    font-size: 13px;
    margin-top: 30px;
    width: 250px;
  }

  .con3_sec_1,
  .con3_sec_2,
  .con3_sec_3 {
    width: 90vw;
    height: 200px;
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }
  .con3_sec_1:hover,
  .con3_sec_2:hover,
  .con3_sec_3:hover {
    background-color: #f1f1f1;
  }
  .con3_img {
    width: 50%;
    height: 100%;
  }
  .con3_img > img {
    max-height: 100%;
  }

  .con3_sec_txt {
    width: 40vw;
    margin-top: 20px;
    display: block;
  }
  .con3_sec_txt_left > h2 {
    font-size: 20px;
  }
  .con3_sec_txt_left > h2 .con3_sec_txt_left > h3 {
    margin-top: 15px;
  }
  .con3_sec_txt_left > h3 {
    margin-top: 20px;
    font-size: 13px;
  }
  .con3_sec_txt_left > h4 {
    display: none;
  }
  .more_btn {
    display: none;
  }
  .next {
    display: none;
  }
  .con3_sec_txt_right {
    margin: 0;
    width: fit-content;
    height: fit-content;
  }
  .con3_sec_txt_right > .number {
    margin-top: 10px;
    margin-left: 0;
    width: 100px;
  }

  .con3 a {
    display: none;
  }
  /* 네번째 */
  .con4 {
    width: 90vw;
    height: fit-content;
    background-image: none;
    padding: 0;
    display: block;
    margin: 0 auto;
  }
  .con4_box {
    margin: 0 auto;
    display: block;
    margin-top: 20px;
  }
  .con4_txt {
    display: block;
    margin-left: 15px;
  }
  .con4_txt h3 {
    font-size: 24px;
  }
  .con4_sec {
    width: 90vw;
    height: 250px;
    padding: 30px 27px;
    position: relative;
    border: 2px solid #e6e6e6;
    margin-bottom: 30px;
  }
  .con4_sec:hover {
    background-color: #fafafa;
    border: 2px solid #ea6a63;
  }
  .con4_sec > h2 {
    font-size: 16px;
  }
  .con4_sec h3 {
    font-size: 22px;
    line-height: 34px;
    margin-top: 15px;
  }

  .con4_sec h4 {
    font-size: 12px;
    margin-top: 50px;
  }
  .write_btn {
    display: none;
  }
  .write_btn a {
    font-size: 12px;
    line-height: 38px;
  }
  /* 마지막 */
  .con5 {
    padding: 70px 0;
  }
  .con5_wrapper {
    width: 90vw;
    overflow: hidden;
  }
  .con5_txt h3 {
    font-size: 24px;
  }
  .con5_txt a {
    display: none;
  }
  .con5_sec {
    width: fit-content;
    flex-wrap: nowrap;
    margin-top: 40px;
    display: flex;
  }
  .con5_sec1 {
    border: none;
    margin-right: 10px;
  }
  .con5_sec1:hover {
    background-color: #f1f1f1;
    border: none;
  }
  .arrow2 {
    width: 90px;
    left: 64vw;
    top: 20px;
  }

  #arrow_left2 {
    width: 40px;
    height: 40px;
    background-size: 100%;
  }
  #arrow_right2 {
    width: 40px;
    height: 40px;
    background-size: 100%;
  }
}
