/* 사진 슬라이드 */
.wrapper {
  width: 100%;
  height: fit-content;
  padding-top: 80px;
  padding-bottom: 100px;
}
.slide {
  width: 100%;
  height: 353px;
  overflow: hidden;
  position: relative;
}
.slide_con {
  width: fit-content;
  height: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  margin-left: -1235px;
}
.black_op {
  width: 353px;
  height: 353px;
  background-color: rgba(0, 0, 0, 0.6);
}
.sam1 {
  background-image: url(/img/sub-shop/sam1.png);
  background-repeat: no-repeat;
  width: 353px;
  height: 353px;
}
.sam2 {
  background-image: url(/img/sub-shop/sam2.png);
  background-repeat: no-repeat;
  width: 353px;
  height: 353px;
}
.sam3 {
  background-image: url(/img/sub-shop/sam3.png);
  background-repeat: no-repeat;
  width: 353px;
  height: 353px;
}
.sam4 {
  background-image: url(/img/sub-shop/sam4.png);
  background-repeat: no-repeat;
  width: 353px;
  height: 353px;
}
.sam5 {
  background-image: url(/img/sub-shop/sam5.png);
  background-repeat: no-repeat;
  width: 353px;
  height: 353px;
}
.sam6 {
  background-image: url(/img/sub-shop/sam6.png);
  background-repeat: no-repeat;
  width: 353px;
  height: 353px;
}
.sam7 {
  background-image: url(/img/sub-shop/sam1.png);
  background-repeat: no-repeat;
  width: 353px;
  height: 353px;
}
.left {
  width: 40px;
  height: 83px;
  margin-top: 136px;
  margin-left: 250px;
  background-image: url(/img/icons/white_left.png);
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.3s;
}
.left:hover {
  background-image: url(/img/icons/white_left_hover.png);
  background-repeat: no-repeat;
}
.right {
  width: 40px;
  height: 83px;
  margin-top: 136px;
  margin-left: 70px;
  background-image: url(/img/icons/white_right.png);
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.3s;
}
.right:hover {
  background-image: url(/img/icons/white_right_hover.png);
  background-repeat: no-repeat;
}
/* 컨텐츠-상단 텍스트 */
.con_txt {
  width: 1060px;
  height: fit-content;
  margin: 0 auto;
  display: flex;
  position: relative;
}
.con_txt h2 {
  font-size: 40px;
  font-weight: 600;
  margin-top: 50px;
}
.con_txt h3 {
  font-size: 24px;
  font-weight: 400;
  color: #777;
  margin-top: 25px;
}
.con_txt h4 {
  font-size: 16px;
  font-weight: 500;
  text-decoration: underline;
  margin-top: 25px;
}
.number {
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  margin-right: 50px;
  font-size: 12px;
  font-weight: 500;
  color: #b7b7b7;
  position: relative;
  position: absolute;
  left: 330px;
}
.number p {
  margin-bottom: 2px;
}
.heart {
  width: 20px;
  height: 20px;
  background-image: url(/img/icons/heart.png);
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.3s;
}
.heart:hover {
  background-image: url(/img/icons/heart_hover.png);
  background-repeat: no-repeat;
}
.good {
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
  margin-left: 5px;
  background-image: url(/img/icons/good.png);
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.3s;
}
.good:hover {
  background-image: url(/img/icons/good_hover.png);
  background-repeat: no-repeat;
}
/* 박스 1 */
.up_box {
  width: 1060px;
  height: fit-content;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.box1 {
  width: 625px;
  height: 400px;
  border: 1px solid #b7b7b7;
  border-radius: 30px;
  box-sizing: border-box;
  padding: 22px 40px;
}
.box1 h2 {
  font-size: 16px;
  font-weight: 400;
  color: #666;
}
.box1 > div {
  display: flex;
  line-height: 50px;
}
.four > p {
  margin-left: 71px;
}
.two > p {
  margin-left: 100px;
}
.menu {
  margin-left: 100px;
}
.price {
  margin-left: 150px;
}
.open {
  margin-top: 3px;
  margin-left: 10px;
}
/* 두번째 박스 */
.locate {
  width: 412px;
  height: 400px;
  border-radius: 30px;
}
iframe {
  border-radius: 30px 30px 0 0;
}
.found {
  width: 100%;
  height: 50px;
  background-color: #666;
  border-radius: 0 0 30px 30px;
  box-sizing: border-box;
  padding: 0 180px;
  cursor: pointer;
  transition: 0.3s;
}
.found > a {
  color: #fff;
  line-height: 50px;
}
.found:hover {
  background-color: #aaa;
}
/* 세번째 박스 */
.box3 {
  width: 1060px;
  height: 363px;
  border: 1px solid #b7b7b7;
  border-radius: 30px;
  margin: 0 auto;
  margin-top: 70px;
}
.box3_txt {
  width: 90%;
  height: 55px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #b7b7b7;
  line-height: 55px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 22px;
}
.box3_txt h2 {
  font-size: 18px;
  font-weight: 400;
}
.box3_txt h2 span {
  color: #ea6a63;
}
.go_review {
  display: flex;
}
.go_review p {
  font-size: 12px;
  font-weight: 500;
  color: #666;
  cursor: pointer;
}
.go_review p:hover {
  color: #000;
}
.go_review div {
  margin-left: 8px;
  margin-top: 1px;
}
/* 세번째 박스 */
.review {
  width: 90%;
  height: 274px;
  margin: 0 auto;
  margin-top: 17px;
  display: flex;
  flex-wrap: wrap;
}
.review_con {
  width: 50%;
  height: 50%;
  box-sizing: border-box;
  padding: 15px 25px;
  border-bottom: 1px solid #b7b7b7;
  border-right: 1px solid #b7b7b7;
}

.review_con > h2 {
  font-size: 16px;
  font-weight: 400;
}
.review_con > h2::after {
  width: 77px;
  height: 14px;
  display: inline-block;
  content: "";
  background-image: url(/img/icons/STAR.png);
  background-repeat: no-repeat;
  margin-left: 15px;
}
.review_con > p {
  font-size: 14px;
  font-weight: 400;
  color: #666;
  margin-top: 15px;
  line-height: 21px;
}
.review_con_btn {
  display: flex;
  margin-top: 15px;
  margin-left: 310px;
  gap: 20px;
}
.good_number {
  display: flex;
  gap: 5px;
}
.good_number h3 {
  font-size: 12px;
  font-weight: 400;
  color: #666;
  margin-top: 4px;
}

.q_a {
  width: 45px;
  height: 20px;
  border: 1px solid #ea6a63;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 400;
  color: #ea6a63;
  box-sizing: border-box;
  padding: 2px 6px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 1px;
}
.q_a:hover {
  background-color: #ea6a63;
  color: #fff;
}
.review_con:nth-child(2) {
  border-right: none;
}
.review_con:nth-child(3) {
  border-bottom: none;
}
.review_con:nth-child(4) {
  border: none;
}
/* 리뷰 더보기 */
.more {
  width: 105px;
  height: 35px;
  border: 1px solid #666;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 30px;
  box-sizing: border-box;
  padding: 10px 21px;
  color: #666;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}
.more:hover {
  background-color: #666;
  color: #fff;
}
